
.card {
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    justify-content: center;
    margin: 10px;
}


.noJobSection {
    display: flex;
    height: 80vh;
    min-height: 510px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.NoJobImg {
    width: 40%;
}

.noJobSection {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.notAvailable {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    flex-direction: column;
}

.notAvailable>img {
    width: 30%;
}

/* 647 */
@media only screen and (max-width: 647px) {
    .card {
        display: block;

    }

    .Cards {
        margin: 20px !important;

    }

    #card-but {
        margin: 4px 0px;
    }
}