.card {
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    justify-content: center;
    margin: 10px;
}


.noJobSection {
    display: flex;
    height: 80vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.NoJobImg {
    width: 40%;
}

.noJobSection {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.notAvailable {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.notAvailable>img {
    width: 30%;
}