.postForm {
    display: flex;
    height: 80vh;
    min-height: 500px;
    align-items: center;
    justify-content: center;

}

.CompanyForm {
    width: 100%;
    margin: 4px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.company-input {
    width: 50%;
}

#company-input {
    width: 50%;

}
#postFrom-btn{
    width: 25%;
}

#approved {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.postJob-btn{
    display: flex;
    justify-content: center;
}
.postHead {
    color: blue;
}

@media only screen and (max-width:600px) {
    .CompanyForm {
        width: 100%;
    }
}