.css-132a6sb-MuiTableCell-root.MuiTableCell-body {
    text-align: center;
}

.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head {
    text-align: center;

}

.css-132a6sb-MuiTableCell-root {
    padding: 14px!important;
}