.profilePage {
    min-height: 500px;
    display: flex;
    height: 89vh;
    align-items: center;
    background-color: #f6f6fd
}

.ubaid {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background-color: #ffff;
    width: 40rem;
    margin: auto
}

.profile-main {
    margin-right: 40px;
}


.mainProfileData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#avatar {
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 100%;
}

.avatar-img {
    position: relative;
}

.profile-data {
    padding: 10px 0px;
}

.profileHead {
    margin: 8px 0px;
    padding: 8px 0px;
    font-size: 24px;
    text-align: center;
}

.profileData {
    padding: 8px 0px;
}

.profileIcon {
    display: flex;
    align-items: center;
}

.icon-avatar {
    position: absolute;
    bottom: 4px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.profile-btn {
    display: flex;
    justify-content: center;
}

.avatar-img>input {
    display: none;
}



.profileIconText {
    padding-right: 5px;
}

.profileText {
    font-size: 20px;
    word-break: break-all;
}

.profileHeader {
    display: flex;
    height: 57vh;
    min-height: 390px;
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 665px) {
    .ubaid {
        background-color: #f6f6fd !important;
        flex-direction: column;
        height: auto;
        min-height: auto;
        width: auto;
    }

    .profilePage {
        background-color: #f6f6fd !important;
        height: auto;
        display: block;
    }

    .mainProfileData {
        text-align: center;
    }

    .profileHeader {
        height: auto;
        min-height: auto;
        margin-left: 0;
        margin: 10px 0px;
    }
    .profile-main{
        margin-right: 0;
    }
    .edit{
        margin: 15px 0px;
    }
    #avatar{
        height: 200px;
        width: 200px;
    }
    .icon-avatar{
        width: 200px;
    }
}