* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    background-color: #4a4e69;
}

.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center
}

.CS_Form {
    background-color: #ffff;
    padding: 24px;
    width: 50%;
    border-radius: 10px
}

.head-1 {
    background-color: aqua;
}

.form-btn {
    margin: 10px;
}

#btn-form {
    width: 50%;
}

.main-icon {
    display: flex;
    align-items: center;
}

.under-head {
    font-size: 20px;
}

.input {
    width: 100%;
    padding: 8px 16px;
}

.radioDiv {
    display: flex;
    flex-direction: column;
}

.RadioH {
    font-size: 16px;
    text-align: start;
    color: #1565c0;
}

.menuSection {

    display: flex;
    flex-direction: column;
    text-align: start;
    width: 50%
}

#menuHead {
    color: #1565c0;
}


/* drop Down */
#dropDown {
    margin: 20px 0px !important;
}

.selectDropDown {
    padding: 10px;
    border: 1px solid #cccc;
    border-radius: 5px;
}

#dropOption {
    font-size: 18px;
}

.error {
    color: red;
}

#form_Link {
    text-decoration: none;
    color: #1565c0;
}

@media only screen and (max-width:600px) {
    .CS_Form {
        width: 80%;
    }
}

@media only screen and (max-width:336px) {
    .menuSection {
        width: 100%
    }

    .under-head {
        display: none;
    }
}